.portfolio-content {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: "#000";
  background-position: center;
  height: 30vh;
  text-decoration: none !important;
  color: #fff !important;
  display: block;
  overflow: hidden;
  cursor: pointer;
}
.portfolio-content:hover {
  color: #fff;
}
.portfolio-text-container {
  margin-top: 23vh;
  background-color: #000;
  width: 100%;
  height: 10vh;
  text-align: center;
  line-height: 7vh;
  font-size: 1.5em;
  font-family: "Assistant", sans-serif;
}
.main-content-content {
  text-align: center;
}
.main-content-content a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-weight: 900;
}
